@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 160px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.logo {
  max-width: 189px;
}
.logo a:hover {
  opacity: 0.8;
}

.navbar-btn {
  display: none;
  background-color: #000;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.navbar-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu li {
  list-style: none;
  padding: 10px;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.menu li a:hover {
  opacity: 0.8;
}

.navbar-collapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 70px); /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
  background-color: #000;
  border-top: 1px solid #fff;
}
.navbar-collapse ul li a {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}
.navbar-collapse ul li a:hover {
  opacity: 0.8;
}

.banner {
  margin-bottom: 160px;
}
.banner h2 {
  font-size: 120px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
}
.banner button {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  padding: 20px 40px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.banner button:hover {
  background-color: #fff;
  color: #000;
}
.banner .banner-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner .banner-animation img {
  max-width: 540px;
}
@-webkit-keyframes banner-grass {
  0% {
    top: -100%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes banner-grass {
  0% {
    top: -100%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.service h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  width: 32%;
}
.service h3 {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  width: 66%;
}
.service .service-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 60px 0;
  gap: 20px;
}
.service .service-list {
  width: 33%;
  border: 1px solid #4d4d4d;
  border-radius: 16px;
  padding: 80px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.service .service-list span {
  font-size: 40px;
  color: #fff;
  width: 45px;
  height: 67px;
}
.service .service-list h4 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  margin-top: 10px;
}
.service .service-list p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-top: 20px;
}

.partner {
  margin-top: 160px;
}
.partner h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 80px;
}

.enterprise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  gap: 20px;
}
.enterprise::before, .enterprise::after {
  content: "";
  position: absolute;
  max-width: 196px;
  height: 40px;
  top: 0;
}
.enterprise::before {
  left: 0;
  padding-right: 196px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.enterprise::after {
  right: 0;
  padding-left: 196px;
  background: -webkit-gradient(linear, right top, left top, from(rgb(0, 0, 0)), color-stop(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.enterprise li {
  max-width: 160px;
}

.mb-20 {
  margin-bottom: 20px;
}

.recommend {
  margin-top: 160px;
}
.recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommend ul li {
  width: 32%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recommend ul li .recommend-star {
  color: #fff;
}
.recommend ul li .recommend-star span {
  font-size: 16px;
}
.recommend ul li .command-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.recommend ul li .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recommend ul li .person .photo {
  max-width: 48px;
  margin-right: 16px;
}
.recommend ul li .person .info h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
.recommend ul li .person .info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.container-wh {
  background-color: #fff;
  border-radius: 160px;
  padding: 160px 0;
}

.function-list {
  max-width: 1296px;
  margin: 0 auto;
}
.function-list .big-title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  color: #000;
  margin-bottom: 80px;
}
.function-list .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.function-list .search-bar span {
  padding: 21px 5px 21px 40px;
  border-radius: 16px 0 0 16px;
  background-color: #F2F2F2;
  color: #919191;
  font-size: 14px;
}
.function-list .search-bar input {
  width: 100%;
  padding: 20px 40px 20px 0;
  background-color: #F2F2F2;
  border-radius: 0 16px 16px 0;
  border: 0;
}
.function-list .filter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.function-list .filter-group .filter-botton {
  padding: 20px 40px;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.function-list .filter-group .filter-botton:hover {
  background-color: #f2f2f2;
}
.function-list .filter-group .filter-botton span {
  font-size: 16px;
}
.function-list .filter-group .type-group {
  gap: 10px;
}
.function-list .filter-group .type-group button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  color: #919191;
  background-color: #fff;
  padding: 8px 16px;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.function-list .filter-group .type-group button:hover {
  color: #000;
  background-color: #f2f2f2;
}
.function-list .filter-group .type-group .checked {
  color: #000;
  background-color: #f2f2f2;
}
.function-list .filter-group select {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  color: #000;
  padding: 20px 40px 20px 60px;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}
.function-list .filter-group select:hover {
  border-color: #000;
}
.function-list .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}
.function-list .card-group .card {
  width: 32%;
  border: 1px solid #caccd1;
  border-radius: 15px;
  overflow: hidden;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.function-list .card-group .card a {
  display: block;
}
.function-list .card-group .card .info {
  padding: 20px;
  border-bottom: 1px solid #caccd1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.function-list .card-group .card .info h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  color: #000;
  margin-bottom: 12px;
}
.function-list .card-group .card .info span {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  color: #000;
}
.function-list .card-group .card .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 32px;
  border-bottom: 1px solid #caccd1;
}
.function-list .card-group .card .sort h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  color: #000;
}
.function-list .card-group .card .sort span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  color: #000;
}
.function-list .card-group .card .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 32px;
}
.function-list .card-group .card .tag a span {
  text-decoration: none;
  color: #000;
}
.function-list .page-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
}
.function-list .page-change button {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 16px;
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.function-list .page-change button:hover {
  border: 1px solid #000;
}
.function-list .page-change .checked {
  background-color: #000;
  color: #fff;
}

.container-bottom {
  max-width: 1296px;
  margin: 0 auto;
}

.our-service {
  margin-top: 78px;
  margin-bottom: 78px;
  padding: 80px 0;
}
.our-service h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.our-service button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  padding: 20px 32px;
  background-color: #000;
  border-radius: 16px;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.our-service button:hover {
  background-color: #fff;
  color: #000;
}

.links {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.links .other-page a {
  display: block;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}
.links .other-page a:hover {
  opacity: 0.8;
}
.links img {
  width: 245px;
}
.links img:hover {
  opacity: 0.8;
}

.copyright {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright .copy-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.copyright .copy-links p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin-right: 80px;
}
.copyright .copy-links .socal {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.copyright .copy-links .socal a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}
.copyright .copy-links .socal a:hover {
  opacity: 0.8;
}
.copyright .to-top {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}
.copyright .to-top:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .container {
    margin: 0 12px;
    padding-bottom: 160px;
  }
  .navbar-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
  .navbar-collapse.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner h2 {
    font-size: 48px;
    margin-top: 40px;
  }
  .banner .banner-animation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 30%;
  }
  .banner .banner-animation img {
    max-width: 100%;
    height: auto;
  }
  .service h2 {
    font-size: 20px;
  }
  .service h3 {
    font-size: 32px;
    width: 100%;
  }
  .service .service-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .service-group .service-list {
    width: 100%;
  }
  .service .service-group .service-list .span {
    font-size: 80px;
  }
  .partner h2 {
    font-size: 20px;
  }
  .recommend ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .recommend ul li {
    width: 100%;
  }
  .container-wh {
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .function-list .big-title {
    font-size: 32px;
  }
  .function-list .card-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .function-list .card-group .card {
    width: 100%;
  }
  .filter-group {
    gap: 12px;
  }
  .filter-group .filter-botton {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .filter-group .type-group {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .filter-group select {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container-bottom {
    padding-left: 12px;
    padding-right: 12px;
  }
  .container-bottom .our-service h2 {
    font-size: 32px;
  }
  .container-bottom .footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-bottom .footer .links .other-page {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container-bottom .footer .links .other-page a {
    font-size: 48px;
  }
  .container-bottom .footer .links img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 40px;
  }
  .container-bottom .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}