
.container{
    max-width: 1296px;
    margin: 0 auto;
    margin-bottom: 160px;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    align-items: center;
    padding: 20px 0;
}
.logo{
    max-width: 189px;
    a:hover{
        opacity: 0.8;
    }
}
.navbar-btn{
    display: none;
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}
.menu{
    display: flex;
    li{
        list-style: none;
        padding: 10px;
        a{
            text-decoration: none;
            @include heading_base(16px,700);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
.navbar-collapse{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 70px); /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
    background-color: #000;
    border-top: 1px solid #fff;
    & ul li a{
        @include heading_base(80px,900);
        text-decoration: none;
        &:hover{
            opacity: 0.8;
        }
    }
}
// 大標題區 到動畫
.banner{
    margin-bottom: 160px;
    h2{
        @include heading_base(120px,900);
    }
    button{
        @include heading_base(20px,900);
        padding: 20px 40px;
        background-color: #000;
        border: 1px solid $main-color;
        border-radius: 16px;
        margin-top: 20px;
        margin-bottom: 100px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: $main-color;
            color: #000;
        }
    }
    .banner-animation{
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 540px;
        }
    }
    @keyframes banner-grass {
        0%{
            top:-100%;
        }
        50%{
            top: 0;
        }
        100%{
            top: 100%;
        }
    }
    
}
// 我們的服務
.service{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    h2{
        @include heading_base(32px,900);
        width: 32%;
    }
    h3{
        @include heading_base(42px,900);
        width: 66%;
        
    }
    .service-group{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 60px 0;
        gap: 20px;
    }
    .service-list{
        width: 33%;
        border: 1px solid darken($main-color, 70);
        border-radius: 16px;
        padding: 80px 40px;
        flex-grow: 1;
        span{
            font-size: 40px;
            color: $main-color;
            width: 45px;
            height: 67px;
        }
        h4{
            @include heading_base(32px,900);
            margin-top: 10px;
        }
        p{
            @include heading_base(16px,400);
            margin-top: 20px;
        }
    }
}
// 合作夥伴
.partner{
    margin-top: 160px;
    
    h2{
        @include heading_base(32px,900);
        margin-bottom: 80px;
    }
}
.enterprise{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    gap: 20px;
    
    &::before,&::after{
        content: "";
        position: absolute;
        max-width: 196px;
        height: 40px;
        top: 0;
    }
    &::before{
        left: 0;
        padding-right: 196px;
        background: linear-gradient(90deg,rgb(0, 0, 0, 1),rgb(0, 0, 0, 0.8),rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 0.3));
    }
    &::after{
        right: 0;
        padding-left: 196px;
        background: linear-gradient(to left,rgb(0, 0, 0, 1),rgb(0, 0, 0, 0.8),rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 0.3));
    }
    li {
        max-width: 160px;
    }
}
.mb-20{
    margin-bottom: 20px;
}

// 推薦人
.recommend{
    margin-top: 160px;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 32%;
            padding: 40px;
            background-color: rgba(255, 255, 255, 0.08);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            .recommend-star{
                color: $main-color;
                span{
                    font-size: 16px;
                }
            }
            .command-text{
                @include heading_base(16px,400);
                margin: 20px 0;
                flex-grow: 1;
            }
            .person{
                display: flex;
                .photo{
                    max-width: 48px;
                    margin-right: 16px;
                }
                .info{
                    h5{
                        @include heading_base(16px,700,1.5);
                    }
                    p{
                        @include heading_base(14px,400,1.5);
                    }
                }
            }
        }
    }
}
// =============================大白背區
.container-wh{
    background-color: #fff;
    border-radius: 160px;
    padding: 160px 0;
}
// 功能概覽
.function-list{
    max-width: 1296px;
    margin: 0 auto;
    .big-title{
        @include heading_base(80px,900);
        text-align: center;
        color: #000;
        margin-bottom: 80px;
    }
    .search-bar{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        span{
            padding: 21px 5px 21px 40px;
            border-radius: 16px 0 0 16px;
            background-color: #F2F2F2;
            color: #919191;
            font-size: 14px;
        }
        input{
            width: 100%;
            padding: 20px 40px 20px 0;
            background-color: #F2F2F2;
            border-radius: 0 16px 16px 0;
            border: 0;
        }
    }
    .filter-group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .filter-botton{
            padding: 20px 40px;
            color: #000;
            font-size: 16px;
            background-color: #fff;
            border: 1px solid #f2f2f2;
            border-radius: 16px;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                background-color: #f2f2f2;
            }
            span{
                font-size: 16px;
            }
        }
        .type-group{
            gap: 10px;
            button{
                @include heading_base(16px,700);
                color: #919191;
                background-color: #fff;
                padding: 8px 16px;
                border: 0;
                border-radius: 16px;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: #000;
                    background-color: #f2f2f2;
                }
            }
            .checked{
                color: #000;
                background-color: #f2f2f2;
            }
        }
        .dropdown{
            position: relative;
            cursor: pointer;
        }
        .dropdown-btn{
            display: flex;
            align-items: center;
            @include heading_base(16px,400);
            color: #000;
            background-color: #fff;
            padding: 20px 40px 20px 60px;
            border: 1px solid #f2f2f2;
            border-radius: 16px;
            &:hover{
                border-color: #000;
            }
        }
        .dropdown-menu{
            position: absolute;
            right: 0;
            display: none;
            margin-top: 4px;
            box-shadow: 0px 0px 20px #c7c7c7;
            padding: 20px 0;
            border-radius: 16px;
            background-color: #fff;
            li{
                margin-bottom: 8px;
            }
            a{
                padding: 10px 40px;
                text-decoration: none;
                color: #000;
                display: block;
                &:hover{
                    background-color: #e9e9e9;
                }
            }
            &.show{
                display: block;
            }
        }
    }
    .card-group{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 40px;
        .card{
            width: 32%;
            border: 1px solid #caccd1;
            border-radius: 15px;
            overflow: hidden;
            list-style: none;
            display: flex;
            flex-direction: column;
            a{
                display: block;
            }
            .info{
                padding: 20px;
                border-bottom: 1px solid #caccd1;
                flex-grow: 1;
                h3{
                    @include heading_base(20px,900);
                    color: #000;
                    margin-bottom: 12px;
                }
                span{
                    @include heading_base(14px,400);
                    color: #000;
                }
            }
            .sort{
                display: flex;
                justify-content: space-between;
                padding: 20px 32px;
                border-bottom: 1px solid #caccd1;
                h4{
                    @include heading_base(16px,700);
                    color: #000;
                }
                span{
                    @include heading_base(16px,400);
                    color: #000;
                }
            }
            .tag{
                display: flex;
                justify-content: space-between;
                padding: 20px 32px;
                a span{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    .page-change{
        display: flex;
        justify-content: flex-end;
        gap: 4px;
        button{
            width: 48px;
            height: 48px;
            border: 0;
            border-radius: 16px;
            border: 1px solid #fff;
            background-color: #fff;
            @include heading_base(14px,700,1.5);
            color: #000;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                border: 1px solid #000;
            }
        }
        .checked{
            background-color: #000;
            color: #fff;
        }
    }
    
}
// 下方黑色區塊
.container-bottom{
    max-width: 1296px;
    margin: 0 auto;
}
.our-service{
    margin-top: 78px;
    margin-bottom: 78px;
    padding: 80px 0;
    h2{
        @include heading_base(48px,900);
        text-align: center;
        margin-bottom: 40px;
    }
    button{
        display: block;
        margin: 0 auto;
        @include heading_base(20px,900);
        padding: 20px 32px;
        background-color: #000;
        border-radius: 16px;
        border: 1px solid $main-color;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}


.links{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    .other-page a{
        display: block;
        @include heading_base(80px,900);
        text-decoration: none;
        &:hover{
            opacity: 0.8;
        }
    }
    img{
        width: 245px;
        &:hover{
            opacity: 0.8;
        }
    }
}
.copyright{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copy-links{
        display: flex;
        p{
            @include heading_base(16px,700);
            margin-right: 80px;
        }
        .socal{
            @include heading_base(16px,700);
            display: flex;
            gap: 20px;
            
            a{
                @include heading_base(16px,700);
                text-decoration: none;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .to-top{
        @include heading_base(16px,700);
        text-decoration: none;
        &:hover{
            opacity: 0.8;
        }
    }
}



// =============  RWD  ================
@media (max-width: 991px){

}
@media (max-width: 767px){
    .container{
        margin: 0 12px;
        padding-bottom: 160px;
    }
    .navbar-btn{
        display: flex;
    }
    .menu{
        display: none;
    }
    .navbar-collapse.show{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner{
        h2{
            font-size: 48px;
            margin-top: 40px;
        }
        .banner-animation{
            justify-content: flex-start;
            width: 30%;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
    .service{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 32px;
            width: 100%;
        }
        .service-group{
            flex-direction: column;
            .service-list{
                width: 100%;
                .span{
                    font-size: 80px;
                }
            }
        }
    }
    .partner{
        h2{
            font-size: 20px;
        }
    }
    .recommend{
        ul{
            flex-direction: column;
            gap: 20px;
            li{
                width: 100%;
            }
        }
    }
    .container-wh{
        border-radius: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .function-list{
        .big-title{
            font-size: 32px;
        }
        .card-group{
            flex-direction: column;
            .card{
                width: 100%;
            }
        }
    }
    .filter-group{
        gap: 12px;
        .filter-botton{
            order: 1;
        }
        .type-group{
            width: 100%;
            flex-grow: 1;
            order: 3;
        }
        select{
            order: 2;
        }
    }
    .container-bottom{
        padding-left: 12px;
        padding-right: 12px;
        .our-service{
            h2{
                font-size: 32px;
            }
        }
        .footer{
            
            .links{
                flex-direction: column;
                .other-page{
                    order: 2;
                    a{
                        font-size: 48px;
                    }
                }
                img{
                    order: 1;
                    margin-bottom: 40px;
                }
            }
            .copyright{
                flex-direction: column;
            }
        }
    }
    
    
}